

.content{
    grid-area: content_profile;
    background-color: #e9ecef;
}

.content img {
    max-height: 200px;
    min-width: 1200px;
}


.posts{
    background-color: deeppink;
}

.item{
    color: gold;
}