
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    height: 65px;
    padding: 0 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(229, 231, 235, 1);
    position: relative;
}

header img {
    width: 60px;
    margin-left: 10px;
}

.loginBlock {
    margin: 10px 20px 0 0;

}

.loginText {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    margin-right: 10px;
}