
.users {
    display: flex;
    flex-direction: column;
    border: #2b9348 1px solid;
    margin-left: 30px;
}

.user {
    width: 70%;
    display: flex;
    justify-content: space-between;
    border: #ab0c36 3px solid;
    margin-top: 30px;
    flex-wrap: wrap;
}

.image {
    width: 60px;
}

.imgAndButton {
    min-width: 30%;
    border: #e8b50a 3px solid;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.dataBlock {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 70%;
    border: #93aac9 2px solid;
    border-radius: 2px;
}

.dataText {
    font-size: 18px;
    color: #123869;
    margin: 10px 10px 0 10px;
}