.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.textarea {
    border: none;
    border-radius: 20px !important;
    font-style: normal;
    height: 44px;
    outline: none;
    overflow: hidden;
    resize: none;
    color: #393939 !important;
    background: #f0f2f5 !important;
    padding: 12px 24px;
}

.textarea:focus {
    outline: none;
}

.buttonBlock {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    border-top: 1px solid rgba(229, 231, 235, 1);
    margin-top: 20px;
    padding-top: 20px;
}

.button {
    background-color: #5e667c;
    padding: 0 20px;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 500;
    height: 36px;
    border: none;
    border-radius: 6px;
}

.button:hover {
    opacity: 0.9;
}