.items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.postForm {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ebe9e6;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    max-width: 100%;
}

.textareaAndButton {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

