.root {
    display: flex;
}

.messages {
    width: 100%;
}

.messageField {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

@media (max-width: 690px) {
    .dialogItemElement {
        display: none;
    }
}
