.user {
    width: 100%;
    display: flex;
    align-items: center;
    height: 45px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: auto;
    font-weight: 600;
}

.image {
    display: flex;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.avatar {
    border-radius: 50%;
}

.fullName {
    margin-left: 5px;
}

.img {
    border-radius: 50%;
}