
.messages {
    color: #2f3e46;
   margin: 25px 0 0 50px;
}

.message {
    margin-top: 15px;
    font-size: 18px;
}

.textarea {
    width: 250px;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 10px;
    margin: 10px 0 0 50px;
    overflow-wrap: break-word;
    font-size: 15px;
}

.textarea:focus {
    outline: none;
}

.button {
    margin: 10px 0 30px 50px;
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #ffe5ec;
    font-size: 15px;
    font-weight: 600;

}

.button:hover {
    background-color: #ffb3c6;
}

.button:active {
    background-color: #fb6f92;
}