
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    height: 65px;
    padding: 0 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(229, 231, 235, 1);
    position: relative;
}

header img {
    width: 60px;
    margin-left: 10px;
}

.loginBlock {
margin: 10px 20px 0 0 ;
}

.login {
    background-color: #555555;
    font-size: 15px;
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;

    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}


.loginText {
    margin: 10px 20px 0 0;
    font-size: 17px;
    font-weight: 600;
}