
.navbar{
  /*  grid-area: navbar;*/
    background-color: #eff9fd;
    margin-right: 5px;
    padding: 20px;
    border-radius: 10px;
    min-width: 20%;
}

.item{
    padding-top: 20px;
}

.item a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.item a.active {
    color: #ff8fab;

}