
.navbar{
    grid-area: navbar;
    background-color: #9a8c98;
    margin-right: 5px;
    padding: 20px;
}

.item{
    padding-top: 8px;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a.active {
    color: #023e8a;
}