.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #526181;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 10px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 600;
    width: 150px;
}

.primary {
    background-color: #526181;
    box-shadow: 0 0 18px rgb(140 97 255 / 35%);

    &:hover {
        background-color: #5e667c;
        transition: 0.15s;
    }
}

.secondary {
    background-color: #f0f2f5;
    color: #4B5563;

    &:hover {
        background-color: #e1e3e5;
        transition: 0.15s;
    }
}