
.profile_info img{
    min-width: 1200px;
    border-radius: 10px;
    opacity: 0.5;
    height: 200px;
}

.description {
    padding: 10px;
    display: flex;
}

.description img {
    width: 150px;
    border-radius: 50%;
}

.descriptionInfo{
    font-size: 18px;
    font-weight: 500;
    margin-left: 30px;
}

.name {
    color: #ff8fab;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 25px;
}