
.item {
    color: black;
    display: flex;
    margin-top: 15px;
}

.item img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.messageLikes {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
}

.messageLikes span {
    font-weight: 600;
}

.messageLikes div {
    font-weight: 600;
    color: #f28482;
}