.app-wrapper {
    font-family: Arial, serif;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 3fr 9fr;
    grid-template-areas:

    "header header"
    "navbar content_profile";
    /*grid-gap: ;*/
}

.app-wrapper-content {
    grid-area: content_profile;
    background-color: #edf6f9;
    border-radius: 10px;
}







