.container {
    background-color: #b03535;

    display: flex;
    max-width: 90%;
    margin: 0 auto;
}

.appWrapper {
    font-family: Arial, serif;
    background-color: #f1eff0;
}

.content {
    background-color: #eff9fd;
    border-radius: 10px;
    width: 100%;
}



/*.appWrapper {
    font-family: Arial, serif;
    !*max-width: 1400px;*!
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 9fr;
    grid-template-areas:

   !* "header header"*!
    "navbar content_profile";
    !*grid-gap: ;*!
    width: 80%;
}

.appWrapperContent {
    grid-area: content_profile;
    background-color: #eff9fd;
    border-radius: 10px;
    height: 100vh;
}*/




