.container {
background-color: #e8e6e6;
}

.appWrapper {
    font-family: Arial, serif;
    /*max-width: 1400px;*/
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 9fr;
    grid-template-areas:

   /* "header header"*/
    "navbar content_profile";
    /*grid-gap: ;*/
    width: 80%;
}

.appWrapperContent {
    grid-area: content_profile;
    background-color: #eff9fd;
    border-radius: 10px;
    height: 100vh;
}







