.app-wrapper {
  font-family: Arial, serif;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
"header header"
"navbar content_profile";
 /* grid-gap: ;*/
}





