
.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_items {
    margin-left: 20px;

 }

.dialog {
       padding-top: 10px;
}

.d {
    text-decoration: none;
    color: #2b9348;
}

.messages {

}

.message {
    color: darkmagenta;
    padding-top: 10px;
}