.root {
    max-width: 270px;
    font-size: 16px;
    font-weight: 600;
    border-right: 1px solid rgba(229,231,235, 1);
    border-top: 1px solid rgba(229,231,235, 1);
    border-radius: 10px;
    height: 100vh;
}

.wrapper {
    margin: 15px 5px;
}

.items {
    margin-bottom: 10px;
    padding: 0 12px;
}

.item {
    width: 100%;
    display: flex;
    align-items: center;
    height: 45px;
    margin-bottom: 4px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.item:hover {
    background-color: #f0f2f5;
    scale: 1.02;
}

.image {
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    /*width: 20px;*/
}

.link {
    display: flex;
    align-items: center;
    color: #585757;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.linkActive {
    display: flex;
    height: 45px;
    width: 100%;
    align-items: center;
    background-color: #2a41e812;
    color: #5f306c;
    border-radius: 10px;
    transition: 0.3s;
}

@media (max-width: 600px) {
    .item {
        margin-left: 5px;
        margin-bottom: 0;
    }

    .span {
        display: none;
    }
}